# Environment files
.env

# Log files
questrade.log
*.log

# Sensitive data
tokens.json
config/trading_plan.json
logs/
# VS files
.vscode/

# Python bytecode and cache files
*.py[cod]
__pycache__/
*.so
*.pyd

# Virtual environments (add if needed)
venv/
env/